// base color
$blue:#1890FF;
$red:#ff4949;
$gray: #8E9197;
$yellow: #ffba00;
$green: #67C23A;

.container {
    padding: 20px;
    background: #ffffff;
    min-height: 800px;
}

.pointer-span{
    cursor: pointer;
}
.blue-text{
    color: $blue;
}
.red-text{
    color: $red;
}
.gray-text{
    color: $gray;
}
.yellow-text{
    color: $yellow;
}
.green-text{
    color: $green;
}