// base color
$blue:#1890FF;
$red:#E7505A;
$gray: #AABCC9;
$yellow: #E49148;

.container {
    padding: 20px;
    background: #ffffff;
    min-height: 800px;
}

.pointer-span{
    cursor: pointer;
}
.blue-text{
    color: $blue;
}
.red-text{
    color: $red;
}
.gray-text{
    color: $gray;
}
.yellow-text{
    color: $yellow;
}